:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62,5%;
}
p{
    font-size: 12px;
    line-height: 16px;
    font-family:'Roboto',sans-serif;
    box-sizing:border-box;
}
grid{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;   
}
.grif__ful-width{
    width: 100%;
}
.grid__row{
    display:flex;
    flex-wrap:wrap;
}
/* Animation{ */
    @keyframes fadeIn{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }

